extends ./layout.jade

block title
  title Kursübersicht

block content
  main.site-content.courseoverview-content#content
    .container
      .row
        if courses != null && courses.length
          h2 Kurse
          .col-12
            p Hier finden Sie alle Kurse, zum Ausführen der Beispiele müssen Sie jedoch angemeldet sein.
          .col-12
            div.card-deck
              - each course in courses
                div.card
                  img.card-img-top.course-logo(src="/media/" + course.slug + "/"+ course.logo, alt="Kurs-Thumbnail" + course.title)
                  div.card-body
                    h5.card-title= course.title
                    p.card-text
                      span= course.description
                      br
                      - var url = course.slug ? course.slug : course.id
                      a.btn.btn-primary(href="/course/" + url) Zum Kurs
        else
          h2 Kurse
          .col-12
            p Es wurden bisher noch keine Kurse angelegt bzw. veröffentlicht.

