extends ./layout.jade

block title
  title Kursübersicht

block content
  .container
    .row
      .col-md-12
        h1 Kurse
        div.card-deck-wrapper
          div.card-deck
            each val in courses
              div.card.text-xs-center
                div.card-header
                  p Kurs
                div.card-block
                  h4.card-title #{val.title}
                  p.card-text #{val.description}
                  a.btn.btn-primary(href=path.course + val.slug) Anschauen
                  p.card-text
                    small.text-muted erstellt am #{val.createdAt}

