extends ./layout.jade

block title
  title Kursübersicht

block content
  .container
      h1 Kurse
      ul
        each val in courses
          li
            a(href=path.course + val.slug) #{val.title}

