extends ./layout.jade
block content
  main.site-content#content
    .container
      .row
        section.col-sm-12
          h1 Impressum
          address
            strong Hochschule Coburg
            br
            span Friedrich-Streib-Str. 2
            br
            span 96450, Coburg
          p Die Hochschule Coburg ist eine Körperschaft des Öffentlichen Rechts. Sie wird durch ihren Präsidenten gesetzlich vertreten.

        section.col-sm-12
          h2 Logo und Fav-Icon
          img(src="/public/img/trycoding_logo.png" alt="trycoding.io Logo")
          p Das verwendete Logo stammt ursprünglich von <em>goopy mart</em> und wurde für diese Webseite bearbeitet (<a href="https://www.flickr.com/photos/goopymart/289959683/in/album-72157594362502502/" target="_blank">Original</a>). <br>Das Logo steht unter folgender Lizenz: <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/" target="_blank">Attribution-NonCommercial-ShareAlike 2.0 Generic</a>.
