extends ./layout.jade
block content
  .container
    .row
      section.col-sm-12
        h1 Impressum
        address
          strong Hochschule Coburg
          br
          span Friedrich-Streib-Str. 2
          br
          span 96450, Coburg
        p Die Hochschule Coburg ist eine Körperschaft des Öffentlichen Rechts. Sie wird durch ihren Präsidenten gesetzlich vertreten.