extends ./layout.jade

block title
  title WebBox - Hochschule Coburch

block content
  .container
    section
      h1 Programmieren mit
        img(src="/public/img/sourcebox.png", width="100", alt=" SourceBox")
      p= message
      p
        Jade Template könntens mittels jstransformers relative gut andere Arten von Dokumenten zur Compile-Zeit einbinden. Ein Beispiel dafür ist
        Markdown. Aber auch inline-code Elementes.
      p
        | Angemeldet:
        = username


    section
      h2 Login
      form(action="/login", method="POST")
        input(type="hidden", name="crumb", value=crumb)
        input(type="text", id="login_username", name="username")
        input(type="password", id="login_password", name="password")
        button(type="submit") Anmelden


    section
      h2 Image-Upload
      form(class="form-inline" action="/mediaupload", method="POST", enctype="multipart/form-data")
        input(type="hidden", name="crumb", value=crumb)
        fieldset.form-group
          label(for="imageFile") Bilderupload
          input(class="form-control-file", id="imageFile", type="file", name="imageFile", accept="image")
          small.text-muted Zulässige Formate: .png, .jpeg
        fieldset.form-group
          label(for="courseInput") Kursname
          input(placeholder="z.B. python-2016" class="form-control", id="courseInput", type="text", name="course")
        button(class="btn btn-primary", type="submit") Hochladen