doctype html
html(lang="de")
    head
        meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
        link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/monokai-sublime.min.css")
        title=title
    body
        h1= title
        p= message
        p blablablabalssdfsdfssssdf
        include:marked mdtest.md
        p Benutzer:
        p= users
        Jade Template könntens mittels jstransformers relative gut andere Arten von Dokumenten zur Compile-Zeit einbinden. Ein Beispiel dafür ist
        Markdown. Aber auch inline-code Elementes.
