doctype html
html(lang="de")
    head
        meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="x-ua-compatible" content="ie=edge")

        block styles
          script(src="https://use.fontawesome.com/3797abfac7.js")
          link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/monokai-sublime.min.css")
          if isProd
            link(rel="stylesheet", href="/public/css/all.bundle.#{webboxVersion}.css")

        block title
          title trycoding.io - Hochschule Coburg

    body.site
        a(id="skippy", class="sr-only sr-only-focusable" href="#content")
          .container
            span.skiplink-text
              Skip to main Content

        block navigation
          header
            nav.navbar.navbar-light.wb-navbar
              .nav.navbar-nav
                a.navbar-brand(href="/") trycoding.io
                a(class="nav-item nav-link", href="/") Startseite
                a(class="nav-item nav-link", href="/courseoverview") Kurse
                block navbar-extra
                if !user.isAnonymous
                  .pull-xs-right
                    a(class="nav-item btn btn-warning btn-sm", href="/logout") Ausloggen
                else
                  .pull-xs-right
                    - var nextQuery = "?next=" + (next || "");
                    a(class="nav-item btn btn-success btn-sm", href!="/login" + nextQuery) Einloggen

      block content
        main.site-content#content

      footer(role="contentinfo", class="wb-footer text-muted")
        .container
          .row
            .col-md-6.col-xs-12
              ul.wb-footer-links
                li
                  a(href="/impressum") Impressum
                li
                  a(href="/datenschutz") Datenschutz
                li
                  a(href="/admin") Verwaltung

              p
                Erstellt von Michael Ebert im Rahmen des Projektes Evelin
              p
                a(href="//hs-coburg.de", target="_blank") Hochschule Coburg
            .col-md-6.col-xs-12
              p Powered by
                img.m-l-1(src="/public/img/sourcebox.svg", height="30", alt="Sourcebox Logo")

      block scripts
        script(src="/public/js/index.bundle.js", defer="true")
