doctype html
html(lang="de")
    head
        meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
        link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/monokai-sublime.min.css")
        title=title
    body
        h1 Login
        form(action="/login", method="POST")
            input(type="hidden", name="crumb", value=crumb)
            input(type="text", id="login_username", name="username")
            input(type="password", id="login_password", name="password")
            button(type="submit") Anmelden
