extends ./layout.jade
block content
  .container
    .row
      section.col-sm-12
        if user.isAnonymous
          h1 Anmeldung
          include ./includes/_login.jade
        else
          p.
            Sie sind bereits angemeldet.
