extends ./layout.jade
block content
  main.site-content#content
    .container
      .row
        section.col-sm-12
          h1 Datenschutzhinweise
          h2 Einwilligung
          p.
            Die Nutzerin/der Nutzer erklärt mit der Anmeldung seine Einwilligung zu Erhebung, Verarbeitung und Nutzung seiner personenbezogenen Daten zum Zwecke der Durchführung des eLearning-Angebots und zum Zwecke der Teilnahme an dem eLearning-Angebot der Hochschule Coburg / Projekt EVELIN.

          h2 Übermittelte Daten
          p.
            Bei jedem Zugriff auf unser Internetangebot übermittelt Ihr Internet-Browser aus technischen Gründen automatisch die folgenden Daten an unseren Webserver:
          ol
            li Die aktuelle IP-Adresse des von Ihnen genutzten Internetanschlusses
            li Die Webseiten, die Sie innerhalb unseres Angebots besuchen
            li Datum und Uhrzeit ihres Besuches

          h2 Teilanonymisierte Datenerfassung für statistische Auswertungen in Vorlesungen
          p.
            Bei der Benutzung der Webseite werden weitere teilanonymisierte Daten erfasst:
          ol
            li Die aktuelle Seite bzw. der besuchte Kurs und Kapitel bzw. Folien
            li Ausführung und Resulte von Code-Beispielen
            li Fehler bei der Ausführung und die betreffenden Zeilen, in denen der Fehler aufgetreten ist
            li Interaktionen mit dem Editor, d. h. Ausführen, Löschen, Stoppen, ...
            li Informationen über den benutzten Browser - dazu verwenden wir <em>keen.io</em> im Hintergrund

          p.
            Während der Vorlesung können Daten zwischen Studierenden und Dozenten sowie anderen Studierenden
            ausgetauscht werden. Dabei können folgende Daten erfasst werden:

          ol
            li Anzahl der aktiven Teilnehmer
            li Eingereichte Beispiele zum Dozenten
            li Öffentlich geteilte Beispiele

          h2 §15 Abs. 3 Telemediengesetz (TMG)
          p.
          Der Diensteanbieter darf für Zwecke der Werbung, […] Nutzungsprofile bei Verwendung von Pseudonymen erstellen, sofern der Nutzer dem nicht widerspricht. Der Diensteanbieter hat den Nutzer auf sein Widerspruchsrecht im Rahmen der Unterrichtung nach § 13 Abs. 1 hinzuweisen. […] Auf dieser Seite werden keine dieser Cookies verwendet. Es wird maximal ein Cookie zur Optimierung der Auslieferung der Inhalte verwendet. Des Weiteren kann eine IP-Adresse bei Angriffen bzw. Missbrauch auf dieser Webseite gesperrt werden.

          p.
            Für die Anmeldung und Sitzungen wird ein Cookie verwendet.