extends ../layout.jade

block content
  main.site-content.admin-content#content
    !{prerenderedHtml}

block scripts
  script window.__INITIAL_STATE__ = !{initialState}
  script(src="/public/js/common.bundle.js", defer="true")
  script(src="/public/js/dashboard.bundle.js", defer="true")