extends ../layout.jade

block content
  !{prerenderedHtml}

block scripts
  script window.__INITAL_STATE__ = !{initialState}
  script(src="/public/js/common.bundle.js", defer="true")
  script(src="/public/js/dashboard.bundle.js", defer="true")