{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "forOf": true
    }
  },
  "rules": {
    "semi": 2,
    "indent": [2, 2]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
