section
  h2 Image-Upload
  form.dropzone(id="mediaupload", action="/mediaupload", method="POST", enctype="multipart/form-data")
    input(type="hidden", name="crumb", value=crumb)
    input.form-control(placeholder="z.B. python-2016", id="courseInput", type="hidden", name="course", value="markdown")
    p.dz-message Bilder können hier direkt zum Hochladen abgelegt werden. Alternativ kann hier auf die Fläche klicken, um die eigenen Dateien zu durchsuchen...

    //
      div.form-group.row
        label.col-sm-2.form-control-label(for="imageFile") Bilderupload
        div.col-sm-6.col-xs-12
          input.form-control-file(id="imageFile", type="file", name="imageFile", accept="image")
          small.text-muted Zulässige Formate: .png, .jpeg
      div.form-group.row
        label.col-sm-2.form-control-label(for="courseInput") Kursname
        div.col-sm-6.col-xs-12
          input.form-control(placeholder="z.B. python-2016", id="courseInput", type="text", name="course")
      div.form-group.row
        div.col-sm-offset-2.col-sm-6
          button.btn.btn-primary(type="submit") Hochladen