- var nextQuery = "/login" + "?next=" + (next || "");
form(action!=nextQuery, method="POST")
  input(type="hidden", name="crumb", value=crumb)
  div.form-group
    label(for="login_username_input") Email-Adresse
    input.form-control(type="text", id="login_username_input", name="username", placeholder="z.B. ikas14@stud.hs-coburg.de", required)
    small.text-muted Bitte verwenden Sie zur Anmeldung die komplette E-Mail-Adresse.

  div.form-group
    label(for="login_password_input") Passwort
    input.form-control(type="password", id="login_password_input", name="password", placeholder="Passwort", required)
  button.btn.btn-primary(type="submit") Anmelden
  small.forgot
    a.float-right.btn.btn-sm.btn-info(href="/forgot") Passwort vergessen
