form(action="/signup", method="POST")
  input(type="hidden", name="crumb", value=crumb)
  div.form-group
    label(for="su_email") Email-Adresse
    input.form-control(type="email", name="email", id="su_email", placeholder="...@stud.hs-coburg.de", value=registration != null ? registration.email : "")
    small.text-muted Bitte verwenden Sie zur Registrierung ihre Email-Adresse der Hochschule
  div.form-group
    label(for="su_password") Passwort
    input.form-control(placeholder="Passwort", name="password", type="password", id="su_password", minlength=6, required)
    p.text-muted Mindestens 6 Zeichen lang!
  div.form-group
    label(for="password_repeat") Passwort Wiederholen
    input.form-control(placeholder="Passwort Wiederholen", name="password_repeat", type="password", id="password_repeat", minlength=6, required)
    p.text-muted Geben Sie das Passwort erneut ein, um Fehler zu vermeiden.
  div.form-group
    label(for="su_semester") Semester
    select.form-control(id="su_semester", name="semester", required, selected=registration != null ? registration.semester : "")
      option WS18
      option SS19
      option WS19
      option SS20
  div.checkbox-accept-terms
    label.custom-control.custom-checkbox
      input.custom-control-input(type="checkbox", id="su_accept_terms", name="terms", required)
      span.custom-control-label
        a(href="/datenschutz", target="_blank") Datenschutzbedingungen
        = " akzeptieren"
    p.text-muted Der Dienst kann nur unter Zustimmung der Bedingungen vollständig genutzt werden.


  button.btn.btn-primary(type="submit") Abschicken