.spectacle-slide {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  overflow-y: auto!important;
}

.spectacle-content .fragment * {
  opacity: inherit;
}

.spectacle-slide .katex-display {
  font-size: 1.9rem;
}

.spectacle-slide details:focus,
.spectacle-slide details > summary:focus,
.spectacle-slide details:active,
.spectacle-slide details:hover {
  outline: none;
}


.spectacle-slide pre {
  text-align: left;
}

.spectacle-slide .window .code-cell {
  padding-right: 0;
}

/* Firefox */

_:-moz-tree-row(hover), .spectacle-deck {
  perspective: 1000px;
}

_:-moz-tree-row(hover), ul .appear {
  display: inline;
}

@keyframes pacmanTopFrames {
  0% { transform: rotateZ(0deg) }
  100% { transform: rotateZ(-30deg) }
}

@keyframes pacmanBottomFrames {
  0% { transform: rotateZ(0deg) }
  100% { transform: rotateZ(30deg) }
}

@keyframes pacmanTopFramesBis {
  0% { transform: rotateZ(0deg) }
  100% { transform: rotateZ(-30deg) }
}

@keyframes pacmanBottomFramesBis {
  0% { transform: rotateZ(0deg) }
  100% { transform: rotateZ(30deg) }
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

p {
  text-align: left;
}