extends ../layout.jade

block title
  title BAAAM - Fehler - #{baseTitle} - Hochschule Coburg

block content
  main.site-content.index-content#content
    .container
      .row
        .col-md-12
          h1 #{statusCode} - #{errName}
          p= errorMessage
