extends ../layout.jade

block content
  main.site-content.index-content#content
    .container
      .row
        .col-md-12
          h1 #{statusCode} - #{errName}
          p= errorMessage
          p.
            Es ist ein Fehler aufgetreten.
