.header-anchor {
  color: inherit;
  opacity: 0;
}

@media (max-width: 480px) {
  .header-anchor {
    display: none;
  }
}

*:hover > .header-anchor {
  opacity: .6;
  transition: color .16s linear;
}

*:hover > .header-anchor:hover,
.header-anchor:focus {
  text-decoration: none;
  opacity: 0.9;
}