.course div.notices {
  margin: 2rem 0;
  position: relative;

  &.tip p {
    border-top: 30px solid rgba(92,184,92,.8);
    background: #e6f9e6;
  }

  &.tip ul, ol {
    background: #e6f9e6;
  }

  & p {
    padding: 15px;
    display: block;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    color: #666;
  }

  &.tip p:first-child:before {
    position: absolute;
    top: 2px;
    color: #fff;
    font-family: FontAwesome;
    content: '';
    left: 10px;
  }

  &.tip p:first-child:after {
    content: 'Hinweis';
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
  }
}
