@media print {

  /* Gutenberg => https://github.com/BafS/Gutenberg/blob/master/scss/_pagination.scss */
  table,
  blockquote,
  pre,
  code,
  figure,
  li,
  hr,
  ul,
  ol,
  a,
  tr,
  div.markdown-cell,
  div.code-cell,
  div.code-block,
  div.raw-cell {
    page-break-inside: avoid;
  }
  
  // Orphans and widows
  h2,
  h3,
  h4,
  p,
  a {
    orphans: 3; // minimum number of lines that must be left at the bottom of a page
    widows: 3; // minimum number of lines that must be left at the top of a page
  }
  
  // Avoid breaking inside or just after titles
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  
  // Avoid breaking before a paragraph if header before
  h1 + p,
  h2 + p,
  h3 + p {
    page-break-before: avoid;
  }
  
  // Avoid to break inside an image
  img {
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: avoid;
  }
  
  pre {
    white-space: pre-wrap !important;
    word-wrap: break-word;
  }

  blockquote {
    border: none;
  }

  .header-anchor {
    display: none;
  }

  .hljs {
    background: transparent;
    border: none;
  }

  figure.hljs {
    border-left: 1px solid #ddd;
    background-color: transparent;
  }

  pre.hljs {
    background-color: transparent;
  }

  code {
    color: #2c3e50;
    background-color: transparent;
  }

  .editor-btns,
  .code-cell-run-btn,
  .course-clipboard {
    display: none;
  }

  .markdown-cell p {
    font-size: 1.1rem;
    line-height: 1.2;
  }

  .markdown-cell h1 {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    line-height: 1.22;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 1.1rem;
  }

  .markdown-cell, .code-cell, .codeembed-cell, .raw-cell {
    margin-bottom: 0.5rem;
  }
}