@import "_clipboard.scss";
@import "_sourcebox.scss";
@import "_notices.scss";
@import "_anchor.scss";
@import "_kbd.scss";
@import "../includes/_messagelist.scss";
@import "../includes/_display.scss";

// Fonts
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Oswald);

h1.notebook-title {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.2rem;
}

.notebook-metadata {
  display: inline-block;
}

.icon-control {
  padding-right: 0.5rem;
  cursor: pointer;
}

.btn-round {
  border-radius: 20px;
}

.btn-floating {
  position: absolute;
  z-index: 1000;
  right: 0.25rem;
  top: 0.25rem;
}

.markdown-cell,
.code-cell,
.codeembed-cell,
.raw-cell {
  position: relative;
  margin-bottom: 1rem;

  &.editing {
    padding: .5em;
    border: 1px dashed #999;
    margin: 1em 0;
  }

  & .control-outline .form-control {
    border: 1px dashed #999;
  }

  &.cell-not-visible {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAChJREFUKFNjOH/+fAMDDgCSu3Dhwn9c8gwwBTgNGR4KQP4HhQOhsAIAZCBTkhtqePcAAAAASUVORK5CYII=");
    -webkit-filter: opacity(85%);
    -moz-filter: opacity(85%);
    -o-filter: opacity(85%);
    -ms-filter: opacity(85%);
    filter: opacity(85%);
  }
}

.view-mode .cell-not-visible {
  display: none;
}

/*
  font-family: "PT Sans",Tahoma,Verdana,sans-serif
  font-size: 18px;
  line-height: 29px;

  https://www.google.com/fonts/specimen/PT+Serif
  https://www.google.com/fonts/specimen/PT+Sans#pairings
*/

.markdown-cell p {
  font-size: 1.2rem;
  font-family: "PT Sans",Tahoma,Verdana,sans-serif;
  font-style: normal;
  line-height: 1.6rem;
  color: #000000;
}

.markdown-cell img {
  max-width: 100%;
}

.markdown-cell ol,
.markdown-cell ul,
.markdown-cell dl {
  font-size: 1.1rem;
  font-family: "PT Sans",Tahoma,Verdana,sans-serif;
  font-style: normal;
  line-height: 1.5rem;
  color: #000000;
}

.markdown-cell blockquote {
  border-left: 2px solid #217dbb;
  padding-left: 1rem;
}

.markdown-cell .card-blockquote {
  border: none;
  padding: 0;
  color: #FFFFFF;

  & p {
    color: #FFFFFF;
  }
}

.markdown-cell h1,
.markdown-cell h2,
.markdown-cell h3,
.markdown-cell h4,
.markdown-cell h5 {
  font-family: "Open Sans Condensed", serif;
  font-weight: 600;
  letter-spacing: 0.095rem;
  //font-size: 26px;
  //line-height: 30px;
}

/*
.markdown-cell p {
  font-size: 1.3rem;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.55;
}
*/

/*
.markdown-cell h1 {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  line-height: 1.22;
}
*/

.top-sep {
  border-top: 1px dashed #444;
  margin: 1.5em 0;
}

.add-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  transition: opacity 3s ease;

  &:hover {
    opacity: 1;
    transition: opacity .5s ease;
  }
}

.editor-btns {
  float: right;
  margin-top: -0.2rem;
  z-index: 1000;
}

.notebook {
  margin-top: 1rem;
}

.notebook.dragging {
  border: 5px solid dodgerblue;
}

.metadata-sep {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.notebook-title {
  padding-top: 0.25em;
}

#notebook-container {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.image-upload-wrapper {
  display: inline-block;
}

/* Notebook Toolbar */
.notebook-toolbar {
  display: inline-flex;
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  & .action-label {
    color: #000000;
    font-size: 1rem;
    text-decoration: none;
  }
}

.editor-btns .action-label {
  color: #000000;
  font-size: 0.9rem;
  text-decoration: none;
}

@import "_gallery.scss";