@import "_clipboard.scss";
@import "_sourcebox.scss";
@import "_notices.scss";
@import "_anchor.scss";
@import "_kbd.scss";
@import "../includes/_messagelist.scss";
@import "../includes/_display.scss";

@import "~xterm/src/xterm.css";
@import "../includes/_terminal";
@import "includes/_loader";

// Fonts
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Oswald);

h1.notebook-title {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.2rem;
}

.notebook-metadata {
  display: inline-block;
}

.icon-control {
  padding-right: 0.5rem;
  cursor: pointer;
}

.btn-round {
  border-radius: 20px;
}

.btn-floating {
  position: absolute;
  z-index: 1000;
  right: 0.25rem;
  top: 0.25rem;
}

.markdown-cell,
.code-cell,
.codeembed-cell,
.raw-cell {
  position: relative;
  margin-bottom: 1.5rem;

  &.editing {
    padding: .5em;
    border: 1px dashed #999;
    margin: 1em 0;
  }

  & .control-outline .form-control {
    border: 1px dashed #999;
  }

  &.cell-not-visible {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAChJREFUKFNjOH/+fAMDDgCSu3Dhwn9c8gwwBTgNGR4KQP4HhQOhsAIAZCBTkhtqePcAAAAASUVORK5CYII=");
    -webkit-filter: opacity(85%);
    -moz-filter: opacity(85%);
    -o-filter: opacity(85%);
    -ms-filter: opacity(85%);
    filter: opacity(85%);
  }
  .downloadEmbed {
    background: url(/public/img/embed_overlay.jpg);
    background-size: 100% 100%;
    min-height: 500px;
    background-origin: content-box;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .downloadEmbed > * {
    flex-grow: 0;
    flex-basis: 10%;
  }
}

.view-mode .cell-not-visible {
  display: none;
}

/*
  font-family: "PT Sans",Tahoma,Verdana,sans-serif
  font-size: 18px;
  line-height: 29px;

  https://www.google.com/fonts/specimen/PT+Serif
  https://www.google.com/fonts/specimen/PT+Sans#pairings
*/

.markdown-cell p {
  font-size: 1.2rem;
  font-family: "PT Sans",Tahoma,Verdana,sans-serif;
  font-style: normal;
  line-height: 1.6rem;
  color: #000000;

  /* Now some "Blocksatz" text-align */
  text-align: justify;

  /* Let the browser insert hyphens, when supported */
  -webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}

.markdown-cell img {
  max-width: 100%;
}

.markdown-cell ol,
.markdown-cell ul,
.markdown-cell dl {
  font-size: 1.1rem;
  font-family: "PT Sans",Tahoma,Verdana,sans-serif;
  font-style: normal;
  line-height: 1.8rem;
  color: #000000;
}

.markdown-cell ul {
  line-height: 1.8rem;
}

.markdown-cell blockquote {
  border-left: 2px solid #217dbb;
  padding-left: 1rem;
}

.markdown-cell .card-blockquote {
  border: none;
  padding: 0;
  color: #FFFFFF;

  & p {
    color: #FFFFFF;
  }
}

.markdown-cell h1,
.markdown-cell h2,
.markdown-cell h3,
.markdown-cell h4,
.markdown-cell h5 {
  font-family: "Open Sans Condensed", serif;
  font-weight: 600;
  letter-spacing: 0.095rem;
  //font-size: 26px;
  //line-height: 30px;
}

/*
.markdown-cell p {
  font-size: 1.3rem;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.55;
}
*/

/*
.markdown-cell h1 {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  line-height: 1.22;
}
*/

.top-sep {
  border-top: 1px dashed #444;
  margin: 1.5em 0;
}

.add-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  transition: opacity 3s ease;

  &:hover {
    opacity: 1;
    transition: opacity .5s ease;
  }
}

.editor-btns {
  float: right;
  margin-top: -0.2rem;
  z-index: 1000;
}

.notebook {
  margin-top: 1rem;
}

.notebook.dragging {
  border: 5px solid dodgerblue;
}

.metadata-sep {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.notebook-title {
  padding-top: 0.25em;
}

#notebook-container {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

/*
 * Render the run btn on the left side of the code panes
 */
#notebook-container span.fa.fa-play-circle-o.icon-control.code-cell-run-btn {
  position: absolute;
  z-index: 2;
}

.image-upload-wrapper {
  display: inline-block;
}

/* Notebook Toolbar */
.notebook-toolbar {
  display: inline-flex;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  vertical-align: bottom;

  & .action-label {
    color: #000000;
    font-size: 1rem;
    text-decoration: none;
  }
}

.editor-btns .action-label {
  color: #000000;
  font-size: 0.9rem;
  text-decoration: none;
}

@import "_gallery.scss";

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  max-width: 400px;
  overflow-y: scroll;
  max-height: 300px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}