.panel-area {
  //flex: 1 1 auto;
  //flex-grow: 1;
  //flex-shrink: 1;
  //flex-basis: auto;

  background: url('/public/img/sourcebox-bg.svg') no-repeat center center/contain;
  //display: flex;
  //flex-flow: row;
  overflow: hidden!important;
  border-top: #ddd solid 1px;
  > * {
    overflow: hidden!important;
    //flex-grow: 1;
    //flex-shrink: 1;
    //flex-basis: 0px;

    //flex: 1 1 0;
    //box-sizing: border-box;

    // breaks when there are invisible elements (e.g. inactive terminals)
    //&:not(:first-child) {
    //  border-left: 0.2rem solid $card-cap-bg;
    //}
  }
  & .terminal-wrapper {
    height: inherit;
  }
}


.options-panel {
  background-color: white;
  overflow: auto;
  padding: 1rem;
  height: inherit;
}

.turtle-panel,
.math-panel {
  min-height: 100%;
  overflow: auto;
  padding: 1rem;
  background-color: white;
}

.tests-panel {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 1rem;
  background-color: white;
  height: inherit;

  & hr {
    width: 100%;
  }

  & .total-score {
    font-size: 2rem;
  }

  & pre.test-result-output {
    background-color: #eee;
    padding: 0.5rem;
  }

  & .test-result-output-label {
    font-weight: bold;
    font-size: 90%;
  }
}

.scroll-decoration {
  position: absolute;
  top: 0px;
  left: 0;
  height: 6px;
  box-shadow: inset 0 6px 6px -6px #ddd;
  z-index: 1000;
  z-index: 1;
  overflow: hidden;
  width: 100%;
}