.tabs-container {
  display: flex;
  flex: 1 1 0;
  height: 35px;
  font-size: 0.9rem;
  overflow: hidden;
}

.tabs-container > .tab {
  display: flex;
  min-width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid transparent;
  padding-left: 10px;
  cursor: pointer;
}

.tabs-container > .tab::first-child {
  border-left-color: transparent;
}

.tabs-container > .tab:not(.active) {
  background-color: #ececec;
}

.tabs-container > .tab {
  border-left-color: #ddd;
}

.ide-editor-background {
  background-color: #fff;
}

.tabs-container > .tab.pinned .tab-label {
  font-style: normal;
}

.title-label {
  white-space: nowrap;
  flex: 1;
  font-style: italic;
}

.tab-icon {
    margin-right: 0.5em;
}

.tab-icon img {
  height: 0.9rem;
}

.tabs-container > .tab .tab-label {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.5rem;
}

.tabs-container > .tab > .tab-close {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.25rem;
  width: 100%;
}

.tabs-container > .tab > .tab-close .action-label {
  opacity: 0;
  margin-right: 0.5em;
  display: block;
}

.tabs-container>.tab.active:hover>.tab-close .action-label,
.tabs-container>.tab.active>.tab-close .action-label,
.tabs-container>.tab:hover>.tab-close .action-label,
.tabs-container>.tab>.tab-close .action-label:focus,
.tabs-container>.tab.dirty>.tab-close .action-label {
    opacity: 1;
}

.tabs-container > .tab > .tab-close:hover .close-editor-action-icon:before {
  content: '\f00d'
}

.react-scrollbar-transition {
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;

  &--scrollbar {
    transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
  }
}

.react-scrollbar {
  &__wrapper {
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    &:hover {
      .react-scrollbar {
        &__scrollbar-vertical, &__scrollbar-horizontal {
          opacity: 1;
        }
      }
    }
  }

  &__scrollbar-vertical, &__scrollbar-horizontal {
    @extend .react-scrollbar-transition;
    opacity: 0.2;
    position: absolute;
    background: transparent;

    &:hover {
      background: rgba(0,0,0,0.3);
    }

    .scrollbar {
      position: relative;
      background: rgba(0,0,0,0.5);
      cursor: default;
    }
  }

  &__scrollbar-vertical {
    width: 5px;
    height: 100%;
    top: 0;
    right: 0;

    .scrollbar {
      width: 5px;
    }
  }

  &__scrollbar-horizontal {
    height: 5px;
    width: 100%;
    bottom: 0;
    right: 0;

    .scrollbar {
      height: 5px;
    }
  }
}