.control-bar {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
}

.tabs {
  flex: 1 1 0;
}

.controls .nav-item {
  margin: 0;
}

.nav-pills .nav-item {
  white-space: nowrap;
}

.nav-pills .nav-item.nav-link,
.nav-pills .nav-link {
  color: #333333;
  font-weight: 300;
  padding: 0.25em 1em;

  &.active {
    background-color: $card-cap-bg;
    font-weight: 400;
  }

  &:hover {
    /*font-weight: 400;*/
    background-color: $card-cap-bg;
  }
}

.fa-times:hover {
  color: $brand-danger;
  cursor: pointer;
}

.dropdown-menu {
  margin-top: 0;
}

.label {
  border-radius: 20rem;
}
