.tabs-container {
  display: flex;
  flex: 1 1 0;
  height: 35px;
  font-size: 0.9rem;
}

.tabs-container > .tab {
  display: flex;
  min-width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid transparent;
  padding-left: 10px;
}

.tabs-container > .tab::first-child {
  border-left-color: transparent;
}

.tabs-container > .tab:not(.active) {
  background-color: #ececec;
}

.tabs-container > .tab {
  border-left-color: #ddd;
}

.ide-editor-background {
  background-color: #fff;
}

.tabs-container > .tab.pinned .tab-label {
  font-style: normal;
}

.title-label {
  white-space: nowrap;
  flex: 1;
  font-style: italic;
}

.tab-icon {
    margin-right: 0.5em;
}

.tabs-container > .tab .tab-label {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.5rem;
}

.tabs-container > .tab > .tab-close {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

.tabs-container > .tab > .tab-close .action-label {
  opacity: 0;
  margin-right: 0.5em;
  display: block;
}

.tabs-container>.tab.active:hover>.tab-close .action-label,
.tabs-container>.tab.active>.tab-close .action-label,
.tabs-container>.tab:hover>.tab-close .action-label,
.tabs-container>.tab>.tab-close .action-label:focus,
.tabs-container>.tab.dirty>.tab-close .action-label {
    opacity: 1;
}