.terminal-container {
  overflow: hidden;
  background: #F9F9F9;
}

.terminal {
  //display: inline-block;
  float: left;
  border: #F9F9F9 solid 5px;
  border-left: #ddd solid 1px;
  border-top: #ddd solid 1px;
  //font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
  //font-size: 12px;
  line-height: 1.1;
  color: #000 !important;
  background: #F9F9F9 !important;
  padding-left: 0.25em;
}

.terminal-cursor {
  color: #000;
  background: #777;
}
