body.ide,
#ide-container {
  height: 100%;
}

.ide {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;

  .btn {
    box-shadow: none;
  }

  .fontSizeMenuBtn {
    background-color: transparent;
    margin-right: 0;

    &:hover {
      color: $brand-info;
    }

    &:focus,
    &:active {
      outline: none;
    }
  }

  .embed-title {
    padding: 0.25em 1em;
    font-weight: 300;
    margin-top: auto;
    margin-bottom: auto;
  }

  .danger {
    color: $brand-danger;
  }

  .warning {
    color: $brand-warning;
  }

  .info {
    color: $brand-info;
  }

  .success {
    color: $brand-success;
  }

  .unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
  }
  @import "~xterm/dist/xterm.css";
  @import "../includes/_terminal";
  @import "_tabbar";
  @import "_tablist";
  @import "../includes/_toolbar";
  @import "_panelarea";

  @import "../includes/_messagelist";
  @import "_filename_widget";
  @import "_inputbox";
  @import "_filerename";
  @import "~react-datepicker/dist/react-datepicker.css";
  @import "_statusbar";
 // @import "_scrollable";
}

@import "./node_modules/react-vis/dist/main";