html, body, #ide-container {
  height: 100%;
}

.ide {
  display: flex;
  flex-flow: column;
  height: 100%;

  .btn {
    box-shadow: none;
  }

  .danger {
    color: $brand-danger;
  }

  .warning {
    color: $brand-warning;
  }

  .info {
    color: $brand-info;
  }

  .success {
    color: $brand-success;
  }

  @import "_tabbar";
  @import "_panelarea";
  @import "_terminal";
}
