html, body, #ide-container {
  height: 100%;
}

.ide {
  display: flex;
  flex-flow: column;
  height: 100%;

  .btn {
    box-shadow: none;
  }

  .fontSizeMenuBtn {
    background-color: transparent;
    margin-right: 0;

    &:hover {
      color: $brand-info;
    }

    &:focus,
    &:active {
      outline: none;
    }
  }

  .danger {
    color: $brand-danger;
  }

  .warning {
    color: $brand-warning;
  }

  .info {
    color: $brand-info;
  }

  .success {
    color: $brand-success;
  }

  @import "_tabbar";
  @import "_panelarea";
  @import "_terminal";
}
