extends ./dashboard.jade

block modelcontent
  h2 Login-Versuche
  table.table.table-sm.table-striped
    thead.thead-inverse
      tr
        th ID
        th Username
        th IP
        th Time
    tbody
      each attempt in attempts
        tr
          td
            a(href="/dashboard/authattempt/" + attempt.id) #{attempt.id}
          td= attempt.username
          td.label.label-info= attempt.ip
          td= attempt.time

