extends ./dashboard.jade

block modelcontent
  h2 Kurse
  table.table.table-sm.table-striped
    thead.thead-inverse
      tr
        th ID
        th Titel
        th Beschreibung
        th Kurz-URL
        th Letztes Update
    tbody
      each course in courses
        tr
          td
            a(href="/dashboard/course/" + course.id) #{course.id}
          td= course.title
          td= course.description
          td
            a.btn.btn-info.btn-sm(href="/course/" + course.slug, target="_blank") Anschauen
          td= course.lastUpdate

