extends ./dashboard.jade

block modelcontent
  - var courseId = id || ''
  h2
    | Kurs
    small
      &nbsp;
      span.label.label-info  #{title}
  form(action="/dashboard/course/" + courseId, method="POST")
    input(type="hidden", name="crumb", value=crumb)
    fieldset.form-group
      label(for="modelData") Kursdaten (JSON)
      textarea.form-control(name="modelData", id="modelData", rows="15") #{course}
    if courseId != ''
      button.btn.btn-success(type="submit") Speichern