.wb-sidenav {
  position: sticky;
  position: webkit-sticky;
  top: 1em;

  & > h1 {
    margin-bottom: 0rem;
    font-size: 1.25rem;
    font-weight: 300;
  }
}

.wb-sidenav > ol {
  list-style: none;
  padding-left: 0em;

  & > li.active {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  & > li a {
    display: block;
    padding: .25rem 0rem;
    font-size: 90%;
    color: #99979c;
  }

  & > li a:hover,
  & > li a:focus {
    color: $brand-primary;
    text-decoration: none;
    background-color: transparent;
  }

  & > li.active > a {
    color: $brand-info;
    font-weight: 500;
  }
}