// SourceBox-Button
//
// `SourceBox` buttons for opening the snippet in SourceBox.

.course-sourcebox {
  position: relative;
  display: none;
  float: right;

  + .highlight {
    margin-top: 0;
  }
}

.btn-sourcebox {
  position: absolute;
  top: .5rem;
  right: 4rem;
  z-index: 10;
  display: block;
  padding: .25rem .5rem;
  font-size: 75%;
  line-height: 1.5;
  color: #818a91;
  cursor: pointer;
  background-color: transparent;
  border-radius: .25rem;

  &:hover {
    color: #000;
    background-color: #fff;
  }
}

@media (min-width: 768px) {
  .course-sourcebox {
    display: block;
  }
}