$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.5.0/fonts";
@import "../includes/_bootstrap.custom.scss";
@import "../includes/_layout.scss";
@import "_clipboard.scss";
@import "_sourcebox.scss";
@import "_snippets.scss";
@import "_notices.scss";
@import "_anchor.scss";
@import "_kbd.scss";
@import "_sidebar.scss";

.course {
  font-family: Merriweather, Georgia, "Times New Roman", serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: #444444;
}

.course h1,
.course h2,
.course h3,
.course h4,
.course h5,
.course h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 0.75em;

  & > a {
    text-decoration: none;
    color: #444444;
  }

  & > a:hover {
    text-decoration: none;
  }
}

.course h2 {
  margin-bottom: 0.5em;
}

.course  {
  section {
    margin-top: 40px;
  }
}

.dropdown-menu {
  & .dropdown-item:hover,
  & .dropdown-item:focus {
    color: $state-info-bg;
  }

  & .dropdown-item.disabled:hover,
  & .dropdown-item.disabled:focus {
    background-color: transparent;
    color: #444444;
  }
}