.ide-area {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  background: url('/public/img/sourcebox-bg.svg') no-repeat center center/contain;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  border-top: #ddd solid 1px;
  > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;

    box-sizing: border-box;
  }
}

.ide-area>:last-child {
  width: 50%;
  background-color: #F9f9f9;
  background: #F9F9F9;
  border: #F9F9F9 solid 5px;
  border-left: #ddd solid 1px;
  border-top: #ddd solid 1px;
  padding-left: 0.5rem;
  overflow: scroll;
}
