@import "_footer.scss";

$enable-rounded: false;

html {
  height: 100%;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.site-content {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  //flex: 1 0 auto;
  padding-bottom: 4rem;
  padding-top: 3rem;
}

h1 > img {
  margin-left: 1rem;
}

.card {
  box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
}

.wb-navbar {
  border-bottom: solid 1px #eee;
}

.wb-navbar .navbar-nav .nav-link {
  color: $brand-info;
  font-weight: 500;

  &:hover {
    color: darken($brand-info, 10%);
  }
}

.tag-roles {
  margin-right: 0.25em;
}