@import "~dropzone/src/dropzone.scss";

// dotted frame around form
.dropzone {
    border: 2px dashed #0275d8;
    background: white;
}

// center message
.dz-message {
  text-align: center;
  margin: 2em 0;
}