.terminal-wrapper {
  background-color: #F9f9f9;
  background: #F9F9F9;
  border: #F9F9F9 solid 5px;
  border-left: #ddd solid 1px;
  border-top: #ddd solid 1px;
  padding-left: 0.5rem;
}

.terminal-container {
  overflow: hidden;
  height: 100%;
}

.terminal {
  font-family: "DejaVu Sans Mono", "Liberation Mono", "consolas", monospace;
  color: #000 !important;
  background: #F9F9F9 !important;
  height: 100%;
  min-width: 200px;
  overflow-x: auto;
}

.terminal .composition-view {
  background: #F9F9F9 !important;
  color: #000 !important;
  display: none;
  position: absolute;
  white-space: nowrap;
}

/*
 * Overrides new xterm styles, that cause page jumps
 */
.terminal .xterm-helper-textarea {
  position: absolute;
  opacity: 0;
  left: -9999em;
  top: 0px!important;
  width: 0;
  height: 0;
  z-index: -10;
}

.terminal .xterm-viewport {
  /* On OS X this is required in order for the scroll bar to appear fully opaque */
  background-color: #F9F9F9 !important;
  min-height: 100%;
}

.terminal:not(.xterm-cursor-style-underline):not(.xterm-cursor-style-bar) .terminal-cursor {
    background-color: #777;
    color: #000;
}

.terminal:not(.focus) .terminal-cursor {
    outline: 1px solid #fff;
    outline-offset: -1px;
    background-color: transparent;
}

.terminal.xterm-cursor-style-bar .terminal-cursor::before,
.terminal.xterm-cursor-style-underline .terminal-cursor::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #777 !important;
}

.terminal:focus .terminal-cursor.blinking {
  animation: blink-cursor 1.2s infinite step-end;
}

@keyframes xterm-cursor-blink {
  0% {
    color: #000;
    background: #777 !important;
  }
  50% {
    background-color: transparent;
    color: transparent;
  }
}

@keyframes xterm-cursor-non-bar-blink {
    0% { background-color: #777 !important; }
    50% { background-color: transparent; }
}