.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.typer-code {
  color: #2e383c;
  line-height: 1.4375;
  font-family: source-code-pro, monospace;
  font-size: 15px;
  background-color: transparent;

  &.lines {
    padding: 4px 8px 4px 8px;
    border: 1px solid #e5e9ef;
  }

  & pre {
    padding: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-width: 0;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    white-space: pre;
    word-wrap: normal;
    line-height: inherit;
    color: inherit;
    z-index: 2;
    position: relative;
    overflow: visible;
    -webkit-tap-highlight-color: transparent;
  }

  & .line {

  }

  & .gutter-wrapper {
    left: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: absolute;
    z-index: 4;
    background: none !important;
    border: none !important;

    & .line-number {
      width: 36px;
      padding: 0;
      color: #e0e2e5;
      //margin-left: -17px;
    }
  }
}

.typer_keyword {
  color: #AF956F;
}

.typer_constant {
  color: #46A609;
}

.typer_operator {

}

.typer_string {
  color: #5D90CD;
}

.typer_function {
  color: #C52727;
}

.typer_type {
  color: #C52727;
}

.typer_comment {
  color: #BCC8BA;
}

.typer_paren {

}