//$fa-font-path: "https://netdna.bootstrapcdn.com/font-awesome/4.6.1/fonts";
//$fa-font-path: "../../public/font-awesome/fonts";
//@import "~font-awesome/scss/font-awesome.scss";
@import "includes/_bootstrap.custom.scss";
@import "~bootstrap/scss/bootstrap";

@import "includes/_layout.scss";
@import "includes/_mediaupload.scss";

$primary-color: $brand-info;
$line-height: 1.5rem;

@import "includes/_divider.scss";
@import "includes/_tagged_input.scss";
@import "includes/_animations.scss";
@import "includes/_paginate.scss";
@import "includes/_tablesearchbar.scss";
@import "includes/_toolbar.scss";
@import "includes/_loader";

@import "ide/ide";
@import "notebook/notebook";

/* Bootstrap overrides */
/**
 * Start overriding bootstrap styles here
 */

 .alert {
  padding: 5px;
  border: none;
  padding-left: 1rem;

  & p {
    margin-bottom: 0;
    font-weight: 500;
  }

  &.alert-info.alert-left-border {
    border-left: 4px solid $state-info-bg;
    background-color: rgb(249, 249, 249);
    color: $gray-dark;
  }

  &.alert-success.alert-left-border {
    border-left: 4px solid $state-success-bg;
    background-color: rgb(249, 249, 249);
    color: $gray-dark;
  }

  &.alert-warning.alert-left-border {
    border-left: 4px solid $state-warning-bg;
    background-color: rgb(249, 249, 249);
    color: $gray-dark;
  }

  &.alert-danger.alert-left-border {
    border-left: 4px solid $state-danger-bg;
    background-color: rgb(249, 249, 249);
    color: $gray-dark;
  }

  &.alert-danger {
    color: $state-danger-text;
    background: $state-danger-bg;
  }

  &.alert-warning {
    color: $state-warning-text;
    background: $state-warning-bg;
  }

  &.alert-info {
    color: $state-info-text;
    background: $state-info-bg;
  }

  &.alert-success {
    color: $state-success-text;
    background: $state-success-bg;
  }
}

.shadow {
  box-shadow: 0 1px 3px 0 #767677,0 1px 3px 0px #d4d4d5;
}

/*.btn {
  box-shadow: 0 1px 3px 0 #767677,0 1px 3px 0px #d4d4d5;
}*/

.form-footer button {
  margin-top: 0.5rem;
}

.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  margin-right: 0.25rem;
}

/* fix colors for bootstrap dropdown with button toggler */
.dropdown .btn.nav-link {
  background-color: inherit;
}

/* Modal specific styles */
.modal-backdrop {
  z-index: 1071;

  &.show {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1.0;
  }
}

.modal-dialog {
  z-index: 1072;

  &.show {
    opacity: 1.0;
    display: block;
  }
}

/* add those old bootstrap styles to avoid rewriting custom toggle logic */
.dropdown.open .dropdown-menu {
  display: block;
}

.dropdown-menu.dropdown-menu-right {
  right: 0;
  left: auto;
}

/* Custom CSS */
.logo {
  padding-bottom: 1rem;
}

.navbar-brand {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-brand img {
  height: 1.25rem;
}

section {
  margin-bottom: 1.5rem;
}

// form button fixes
form .btn,
.form-group .btn {
  margin-right: 1em;
}

.form-footer {
  padding: 1em;
  border-top: 1px solid #e5e5e5;

  & p {
    margin-right: 1em;
  }

  & a.btn {
    margin-top: 0.5rem;
  }
}

// Align custom checkbox with checkbox text
.checkbox-accept-terms .custom-control-description {
  vertical-align: text-bottom;
}

.card-title {
  word-break: break-word;
}

.index-content,
.admin-content {
  padding-top: 3rem;

  & .entry p,
  & .entry .text-muted,
  & .entry h2,
  & .entry label {
    color: #FFF !important;
    text-shadow: 1px 1px 2px #828282;
  }
}

.second-entry {
  padding-bottom: 3rem;
}

/* Pagination Ellipse styling */
.page-break {
  float: left;
  position: relative;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.card {
  box-shadow: none;

  & .card-body {
    padding: 1.25rem;
  }
}

.card-header-for-list {
  font-size: 1rem;
  margin-bottom: 0;
  border-bottom: none;
}

.image-preview-link {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}

.new-course-form {
  padding-left: 1rem;
  display: inline !important;
}

.new-course-form-btn {
  font-size: 0.575rem;
}

.course-logo {
  max-height: 200px;
  //width: 350px;
  max-width: 100%;
}

@include media-breakpoint-down(xs) {
  .auth .col-12,
  .grid-divider .col-12 {
    margin-bottom: 1.5rem;
  }
}

.card-header-flex {
  padding: 10px 10px 10px;
  display: flex;
  align-items: center;
}

.pull-right-flex {
    margin-left: auto;
}

/*
 * Override some figure and hljs styles for better contrast
 */

figure.hljs {
  background-color: rgba(248, 248, 248, 0.3);
  border-left: 2px solid #1d79b6;
}

pre.hljs {
  background-color: transparent;
}

code {
  background-color: transparent;
}

@import "./notebook/_print.scss";