//$fa-font-path: "https://netdna.bootstrapcdn.com/font-awesome/4.6.1/fonts";
//$fa-font-path: "../../public/font-awesome/fonts";
//@import "~font-awesome/scss/font-awesome.scss";
@import "includes/_bootstrap.custom.scss";
@import "includes/_layout.scss";
@import "includes/_mediaupload.scss";

$primary-color: $brand-info;
$line-height: 1.5rem;
@import '~loaders.css/src/animations/line-scale.scss';
@import "includes/_divider.scss";
@import "includes/_tagged_input.scss";
@import "includes/_animations.scss";
@import "includes/_paginate.scss";
@import "includes/_tablesearchbar.scss";
@import "includes/_typer.scss";

@import "ide/ide";
@import "notebook/notebook";

.logo {
  padding-bottom: 1rem;
}

.navbar-brand {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-brand img {
  height: 1.25rem;
}

section {
  margin-bottom: 1.5rem;
}

// form button fixes
form .btn,
.form-group .btn {
  margin-right: 1em;
}

.form-footer {
  padding: 1em;
  border-top: 1px solid #e5e5e5;

  & p {
    margin-right: 1em;
  }
}


.loader {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 25%;
  max-width: 25%;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.loader-hidden {
  display: none;
}

.loader-active {
  display: flex;
  align-items: center;
}

.card-deck-wrapper .card {
  max-width: 20em;
}

.card-title {
  word-break: break-word;
}

.index-content,
.admin-content {
  padding-top: 3rem;

  & .entry p,
  & .entry .text-muted,
  & .entry h2,
  & .entry label {
    color: #FFF !important;
    text-shadow: 1px 1px 2px #828282;
  }
}

.second-entry {
  padding-bottom: 3rem;
}

.card {
  box-shadow: none;
}

.card-header-for-list {
  font-size: 1rem;
  margin-bottom: 0;
  border-bottom: none;
}

.image-preview-link {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}

.new-course-form {
  padding-left: 1rem;
}

@include media-breakpoint-down(xs) {
  .auth .col-xs-12,
  .grid-divider .col-xs-12 {
    margin-bottom: 1.5rem;
  }
}
